In [1]:
import pandas as pd

In [2]:
data = {
    'Scores':[88,92,100,83,97,75]
}

df = pd.DataFrame(data)

In [3]:
df

   Scores
0      88
1      92
2     100
3      83
4      97
5      75

In [5]:
std = df['Scores'].std()

print("STD: ",std)

STD:  9.239408350466315

In [6]:
var = df['Scores'].var()

print("VAR: ",var)

VAR:  85.36666666666666