In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("manasgarg/ipl")

print("Path to dataset files:", path)

d:\Rat_Race\the-ultimate-ai-ml\001_applied_data_science\004_pipepline_pandas_web_scrapping\pandas_env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading to C:\Users\siyam\.cache\kagglehub\datasets\manasgarg\ipl\5.archive...

100%|██████████| 1.01M/1.01M [00:00<00:00, 1.09MB/s]

Extracting files...
Path to dataset files: C:\Users\siyam\.cache\kagglehub\datasets\manasgarg\ipl\versions\5

In [3]:
import os

os.listdir(path)

['deliveries.csv', 'matches.csv']

In [4]:
csv_path = os.path.join(path,'deliveries.csv')
csv_path

'C:\\Users\\siyam\\.cache\\kagglehub\\datasets\\manasgarg\\ipl\\versions\\5\\deliveries.csv'

In [5]:
import pandas as pd

data = pd.read_csv(csv_path)
data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

### **Finds the top 5 batsman who make most runs over 10 years**

In [7]:
delivery = data.copy()
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [9]:
batsman = delivery.groupby('batsman')
batsman

In [12]:
batsman.get_group('V Kohli').shape

(3494, 21)

In [13]:
batsman['batsman_runs'].sum()

batsman
A Ashish Reddy     280
A Chandila           4
A Chopra            53
A Choudhary         25
A Flintoff          62
                  ...
YV Takawale        192
Yashpal Singh       47
Younis Khan          3
Yuvraj Singh      2591
Z Khan             117
Name: batsman_runs, Length: 461, dtype: int64

In [16]:
batsman['batsman_runs'].sum().sort_values(
    ascending=False
).head()

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

### **Finds top 5 batsman who make most 6's**

In [36]:
mask6 = delivery['batsman_runs']==6
mask4 = delivery['batsman_runs']==4

n_delivery = delivery[mask4]
new_delivery = delivery[mask6]

In [37]:
new_delivery.shape[0]

6523

In [38]:
n_delivery.shape[0]

17033

+ One column → SeriesGroupBy
> df.groupby('key')['col'].sum()

+ Multiple columns → DataFrameGroupBy
> df.groupby('key')[['col1', 'col2']].mean()

+ Same thing using .agg()
> df.groupby('key').agg(total=('col', 'sum'))

In [39]:
new_delivery.groupby('batsman')['batsman_runs'].count()

batsman
A Ashish Reddy      15
A Choudhary          1
A Flintoff           2
A Mishra             5
A Mithun             1
                  ...
Y Venugopal Rao     37
YK Pathan          149
YV Takawale          3
Yuvraj Singh       141
Z Khan               2
Name: batsman_runs, Length: 301, dtype: int64

In [40]:
new_delivery.groupby('batsman')['batsman_runs'].count().sort_values(
    ascending=False
).head()

batsman
CH Gayle     266
SK Raina     174
RG Sharma    173
DA Warner    160
V Kohli      160
Name: batsman_runs, dtype: int64

In [56]:
def top_5_who_make_this(runs):
    mask = delivery['batsman_runs']==runs
    n_delivery = delivery[mask]
    
    return(
        n_delivery
        .groupby('batsman')['batsman_runs']
        .count()
        .sort_values(ascending=False)
        .head()
    )

In [57]:
top_5_who_make_this(3)

batsman
M Vijay      17
S Dhawan     16
G Gambhir    15
AM Rahane    14
DA Warner    13
Name: batsman_runs, dtype: int64

In [58]:
top_5_who_make_this(1)

batsman
V Kohli      1410
RG Sharma    1379
SK Raina     1377
G Gambhir    1313
S Dhawan     1137
Name: batsman_runs, dtype: int64

In [59]:
top_5_who_make_this(2)

batsman
MS Dhoni     251
G Gambhir    245
V Kohli      242
SK Raina     242
DA Warner    207
Name: batsman_runs, dtype: int64

In [61]:
n_delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
30,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,5,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
32,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,6,1,S Dhawan,MC Henriques,SR Watson,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

### **3 most runs by VK against which teams**

In [ ]:
# mask = delivery['batsman'] == 'V Kohli'
# vk = delivery[mask]
# vk = delivery[delivery['batsman'] == 'V Kohli']




vk = delivery[
    delivery['batsman']=='V Kohli'
]

vk.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2590,12,1,Royal Challengers Bangalore,Mumbai Indians,1,2,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
2591,12,1,Royal Challengers Bangalore,Mumbai Indians,1,3,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2593,12,1,Royal Challengers Bangalore,Mumbai Indians,1,5,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2594,12,1,Royal Challengers Bangalore,Mumbai Indians,1,6,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2597,12,1,Royal Challengers Bangalore,Mumbai Indians,2,1,V Kohli,CH Gayle,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [70]:
vk.size

73374

In [67]:
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(3)

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Name: batsman_runs, dtype: int64

In [77]:
def anyone_who_made_top_most_runs_against_3_teams(name):
    b_name = delivery[
        delivery['batsman'] == name
    ]
    
    return(
        b_name
        .groupby('bowling_team')['batsman_runs']
        .sum()
        .sort_values(ascending=False)
        .head(3)
    )

In [78]:
anyone_who_made_top_most_runs_against_3_teams('SK Raina')

bowling_team
Mumbai Indians           708
Kolkata Knight Riders    701
Kings XI Punjab          691
Name: batsman_runs, dtype: int64