In [11]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("manasgarg/ipl")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\siyam\.cache\kagglehub\datasets\manasgarg\ipl\versions\5

In [12]:
import os

os.listdir(path)

['deliveries.csv', 'matches.csv']

In [13]:
csv_path1 = os.path.join(path, 'deliveries.csv')
csv_path1

'C:\\Users\\siyam\\.cache\\kagglehub\\datasets\\manasgarg\\ipl\\versions\\5\\deliveries.csv'

In [14]:
csv_path2 = os.path.join(path, 'matches.csv')
csv_path2

'C:\\Users\\siyam\\.cache\\kagglehub\\datasets\\manasgarg\\ipl\\versions\\5\\matches.csv'

In [15]:
import pandas as pd

delivery = pd.read_csv(csv_path1)
match = pd.read_csv(csv_path2)

In [16]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [17]:
match.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

+ Merge
+ first column : second column
+ season       : batsman name

In [19]:
# merge
delivery.merge(
    match,
    how='inner',
    left_on='match_id',
    right_on='id'
).head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [24]:
new = delivery.merge(
    match,
    how='inner',
    left_on='match_id',
    right_on='id'
)

new.shape

(150460, 39)

In [25]:
print(delivery.shape)
print(match.shape)

(150460, 21)
(636, 18)

**Multi-index Series**

In [27]:
new.groupby(
    ['season','batsman']
)['batsman_runs'].sum()

season  batsman
2008    A Chopra              42
        A Kumble              13
        A Mishra              37
        A Mukund               0
        A Nehra                3
                            ...
2017    Washington Sundar      9
        YK Pathan            143
        YS Chahal             13
        Yuvraj Singh         252
        Z Khan                 4
Name: batsman_runs, Length: 1531, dtype: int64

**sort values**

In [29]:
new.groupby(
    ['season','batsman']
)['batsman_runs'].sum().sort_values(
    ascending=False
)

season  batsman
2016    V Kohli       973
        DA Warner     848
2012    CH Gayle      733
2013    MEK Hussey    733
        CH Gayle      720
                     ...
2011    VR Aaron        0
2017    MM Patel        0
2011    ND Doshi        0
        S Nadeem        0
        SK Trivedi      0
Name: batsman_runs, Length: 1531, dtype: int64

### **converting into dataframe**

In [30]:
new.groupby(
    ['season','batsman']
)['batsman_runs'].sum().sort_values(
    ascending=False
).reset_index()

      season     batsman  batsman_runs
0       2016     V Kohli           973
1       2016   DA Warner           848
2       2012    CH Gayle           733
3       2013  MEK Hussey           733
4       2013    CH Gayle           720
...      ...         ...           ...
1526    2011    VR Aaron             0
1527    2017    MM Patel             0
1528    2011    ND Doshi             0
1529    2011    S Nadeem             0
1530    2011  SK Trivedi             0

[1531 rows x 3 columns]

In [ ]:
new.groupby(
    ['season','batsman']
)['batsman_runs'].sum().sort_values(
    ascending=False
).reset_index().drop_duplicates(
    subset='season',
    keep='first'
)

    season       batsman  batsman_runs
0     2016       V Kohli           973
2     2012      CH Gayle           733
3     2013    MEK Hussey           733
6     2014    RV Uthappa           660
7     2017     DA Warner           641
9     2010  SR Tendulkar           618
10    2008      SE Marsh           616
11    2011      CH Gayle           608
14    2009     ML Hayden           572
17    2015     DA Warner           562

In [34]:
new.groupby(
    ['season','batsman']
)['batsman_runs'].sum().sort_values(
    ascending=False
).reset_index().drop_duplicates(
    subset='season',
    keep='first'
).sort_values(
    by='season',
    ascending=True
)

    season       batsman  batsman_runs
10    2008      SE Marsh           616
14    2009     ML Hayden           572
9     2010  SR Tendulkar           618
11    2011      CH Gayle           608
2     2012      CH Gayle           733
3     2013    MEK Hussey           733
6     2014    RV Uthappa           660
17    2015     DA Warner           562
0     2016       V Kohli           973
7     2017     DA Warner           641

In [35]:
new.groupby(
    ['season','batsman']
)['batsman_runs'].sum().sort_values(
    ascending=False
).reset_index().drop_duplicates(
    subset='season',
    keep='first'
).sort_values(
    by='season',
    ascending=True
)[
    ['season','batsman']
]

    season       batsman
10    2008      SE Marsh
14    2009     ML Hayden
9     2010  SR Tendulkar
11    2011      CH Gayle
2     2012      CH Gayle
3     2013    MEK Hussey
6     2014    RV Uthappa
17    2015     DA Warner
0     2016       V Kohli
7     2017     DA Warner